
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.box {
    background-color: rgb(245, 245, 245);
    padding: 25px;
    border-radius: 12px;
    height: 570px;
    width: 500px;
    box-shadow: 0 0 10px black;

    opacity: 98%;



}

.button-is-block-is-info-is-large-is-fullwidth {
    border: solid 1.8px rgb(15, 15, 15);
    border-radius: 15px;
    box-sizing: border-box;
    height: 50px;
    width: 420px;
    color: rgb(245, 245, 245);
    background: rgba(14, 13, 13, 0.747);
    font-size: 25px;
    cursor: pointer;
    outline: none;
    font-weight: 500;
    margin-right: 15px;

}

.input-is-large {
    border-radius: 15px;
    height: 50px;
    width: 410px;
    padding: 20px;
    margin: 15px;
    text-align: center;
    outline: none;
    color: black;
    font-size: 25px;
    box-shadow: 0 0 5px rgba(14, 13, 13, 0.747);
    font-family: 'Lato', sans-serif;


}