<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='login_style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='logstyle.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $("#myModal").modal('show');
        });
    </script>

</head>

<body>

    <style>
        html,
        body {
            background: black;

        }

        img {
            opacity: 90%;

        }
    </style>

    <img src="static/b&wBill.jpeg" alt="..." style="width: 300px; height: 200px;">
    <div class="column-is-4-is-offset-4">
        <center>

            <h3 class="title" style="color: white; font-family: 'Staatliches', cursive; font-size: 40pt;">Login</h3>

        </center>
        {% if modal is defined %}

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="background-color: white;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle"
                            style="color: black; font-family: 'Staatliches', cursive; font-size: 26pt;">

                            <center><img src="static/white_edit.png" alt="..." style="width: 400px; height: 200px;">
                            </center>

                            <center>
                                <div>{{modal}}</div>
                            </center>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            style="color: black;">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>

                </div>

            </div>


        </div>

        {% endif %}



        <center>
            <div class="box">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="notification">
                    {{ messages[0] }}
                </div>
                {% endif %}
                {% endwith %}

                <form method="POST" action="/login">
                    <div class="field">
                        <div class="control">
                            <input class="input-is-large" type="text" name="email" placeholder="Email" autofocus=""
                                style="font-family: 'Lato', sans-serif;">

                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <input class="input-is-large" type="password" name="password" placeholder="Password"
                                style="font-family: 'Lato', sans-serif;">
                        </div>
                    </div>
                    <button name="login" class="button-is-block-is-info-is-large-is-fullwidth" value="login">
                        Login</button>
                    <style>

                    </style>
                    <br>
                    <h1 style="margin-left: -196px; margin-top: 10px;">Don`t have an account?</h1>
                    <button name="signup" class="button-is-block-is-info-is-large-is-fullwidth"
                        value="signup">Signup</button>
                </form>
            </div>
    </div>
    </center>

</body>


</html>