<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='login_style.css') }}">
</head>

<body>

    <form method="POST" action="/login">
        <h1>Fantasy Music </h1>

        <input type="text" name="user_name" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <input type="submit" value="Login" />
        <h2>Don`t have an account? <a href="http://10.0.0.85:8080/signup"> Sign Up</a></h2>

    </form>

</body>


</html>