<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='sign_up_style.css') }}">
</head>

<body>

    <form method="POST" action="/">
        <h1>Fantasy Music </h1>

        <input type="text" name="username" placeholder="Enter Email" />
        <input type="password" name="password" placeholder="Enter Password" />
        <input type="password" placeholder="Confirm Password" />
        <input type="submit" value="Sign Up" />

        <h2><a href="http://10.0.0.85:8080/">Back to Login</a></h2>


    </form>

</body>


</html>