.App {
  background-color: rgb(245, 245, 245);
}

body{
  background-color: rgb(245, 245, 245);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap');

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: grid;
  grid-template-columns: 17rem 17rem 17rem 17rem;
  grid-gap: 3rem;
  grid-auto-flow: row;
}

.item {
  padding: 4px;
}

img {
  border-radius: 25px;
  box-shadow: 10 10px 15px 8px rgba(0,0,0,0.06);
  width: 640px;
  height: 300px;
}

.head{
  font-size: "80pt";
  font-family: 'Staatliches', cursive;
  color: rgb(22, 22, 22);
}

.custom{
  width: 105px;
  height: 60px;
}

#navbar-right{
  position: fixed;
  margin-left: 100rem;
  top: 29px;
  right: 40px;/*pixels away from the right of the navbar*/
}

.navbar{
  padding-left: 25px;
  padding-right: 25 px;
  border-radius: 25px;
  background-color: black;
  box-shadow: 5px 5px 8px 2px rgba(100, 100, 100, 0.8);
  font-size: 21pt;
  font-family: 'Darker Grotesque', sans-serif;
  
}